main {
    display: flex;
    gap: 20px;
    margin: 20px;
}
form, label, .forms {
    position: relative;
    display: flex;
    flex-direction: column;
}
form, main, section {
    border-style: solid;
}
form {
    padding: 15px;
}

.forms {
    gap: 25px;
}

.tab {
    border-style: dotted;
}


section {
    background-color: rgb(255, 255, 255);
    width: 50vw;
}