@font-face {
    font-family: oswald;
    src: url('/Oswald/Oswald-VariableFont_wght.ttf');
}
main {
    display: flex;
    gap: 20px;
    height: 95vh;
    margin: 25px;
}
form, label, .forms {
    position: relative;
    display: flex;
    flex-direction: column;
}
input {
    font-family: oswald;
}

form {
    gap: 15px;
    background-color: #242424;
    padding: 15px;
    border-radius: 10px;
}

.forms {
    gap: 25px;
    width: 300px;
    overflow: scroll;
}

.save-cancel {
    display: flex;
    gap: 15px;
    justify-content: end;
}

.tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    font-family: oswald;
    font-size: 18px;
}

.tab:hover {
    border-color: #535bf2;
    border-style: solid;
    border-radius: 8px;
    cursor: pointer;
}

textarea {
    resize: none;
}