@font-face {
    font-family: oswald;
    src: url('/Oswald/Oswald-VariableFont_wght.ttf');
}
section {
    position: relative;
    color: black;
    font-family: oswald;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    width: 700px;
    margin: 0px;
    overflow: scroll;
}

section h1 {
    font-size: 32px;
}

.company-or-school-location, .personal {
    color: #414aed;
}

.personal {
    margin: 4px 0px;
    font-size: 14px;
}
.secondary {
    font-style: italic;
}

hr {
    border-color: black;
    border-width: 2px;
   
}
.form-title {
    font-size: 19px;
}

.date {
    font-size: 14px;
}
.form-instance {
    margin-bottom: 10px;
}

.textarea {
    font-weight: 330;
    margin: 0px;
    font-size: 16px;
}
