@font-face {
    font-family: bebas_neue;
    src: url('/Bebas_Neue/BebasNeue-Regular.ttf');
}
section {
    color: black;
    font-family: bebas_neue;
    background-color: rgb(255, 255, 255);
    width: 50vw;
    padding: 15px;
    overflow: scroll;
}

section h1 {
    font-size: 32px;
}

.company-or-school-location, .personal {
    color: #e91d63;
}
.secondary {
    font-style: italic;
}

hr {
    border-color: black;
    border-width: 2px;
   
}

.date {
    font-size: 13.5px;
}
.form-instance {
    margin-bottom: 10px;
}